bin/
obj/
*.user
*.suo
*.vs
.vscode/
*.db
*.mdf
*.log
*.pdb
*.cache
*.config
*.TestResults/
*.coverage
*.DS_Store
*.env
node_modules/
wwwroot/
.idea/
*.ncrunch*
*.resharper
*.dotCover
*.sln.docstates
*.swp
*.tmp